<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
        <mat-card>
          <mat-tab-group>
            <mat-tab label="account info">
              <mat-card-header>
                <mat-card-title>
                    Resigter :
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="your email" formControlName="email">  
                </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput type="text" placeholder="your name" formControlName="name">  
                </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput type="password" placeholder="your password" formControlName="password">  
                </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput type="password" placeholder="re-type your password" formControlName="repeat">  
                </mat-form-field>
                <app-image-list-select
                [useSvgIcon]="true"
                [cols]="6"
                [title]="'select avatar: '"
                [items]="items"
                formControlName="avatar">
                </app-image-list-select>
                <button mat-raised-button color="primary"type="submit">Resigter</button>
            </mat-card-content>
            <mat-card-actions class="text-right">
                <p>have no account?<a href="">sign in</a></p>
                <p>forget password?<a href="">reset  </a></p>
            </mat-card-actions>
            </mat-tab>
            <mat-tab label="personal info">
              <div class="full-width">
                <app-identity-input formControlName="identity"></app-identity-input>
              </div>
              <div class="full-width">
                <app-age-input formControlName="dateOfBirth"></app-age-input>
              </div>
              <div class="full-width">
                <app-area-list formControlName="address"></app-area-list>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
        
 
        </form>