<form #f='ngForm' (ngSubmit)="onSubmit($event,f)">
        <h2 mat-dialog-title>Invite members: </h2>
        <div mat-dialog-content>
            <app-chips-list [label]="'Invite members'" name="members" [(ngModel)]="members"></app-chips-list>         
        </div>
        <div mat-dialog-actions>
            <button type="button" mat-raised-button color="primary" [disabled]= "!f.valid">save</button>
            <button type="button" mat-button mat-dialog-close>close</button>
        </div>
    
 </form>
<mat-autocomplete #autoMembers="matAutocomplete" [displayWith]="displayUser">
    <mat-option *ngFor="let item of items">
        {{item.name}}
    </mat-option>
</mat-autocomplete>
